node_modules
dist
dist-ssr
*.local
!.env.example
backend-python/.venv
**/__pycache__/
*.pyc
.venv
blender/output/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
