SUPABASE_URL=https://ytxxcnlajceojbdxreku.supabase.co
SUPABASE_KEY=
PYTHON_API_URL=https://virtual-plant-python.onrender.com
PYTHON_API_KEY=
N8N_BASE_URL=https://mayyuyamyetchare.app.n8n.cloud
N8N_API_KEY=
